@using LovePicture.Web.Extends
@using LovePicture.Com
@using LovePicture.Model.Models
@model List<ToContent>
@{
    var module = ViewData["module"] as ToModule;
    ViewData["Title"] = module.Name;
}
<div class="jumbotron">
    <h2>@module.Name</h2>
    <p>@module.Des</p>
    <p>
        <a class="btn btn-primary btn-lg" href="/usercenter/upphoto/@module.Id" role="button">我要留图</a>
        <a class="btn btn-default btn-lg" href="/pictures/index/1" role="button">更多活动</a>
    </p>
</div>
<hr />
<div class="row">
    @if (Model.Count <= 0)
    {
        <div class="text-center">
            <h4>暂无，你可以率先留下点什么呢。 <a href="/usercenter/upphoto/@module.Id" class="btn btn-default">快速上传</a></h4>
        </div>
    }
    else
    {
        @foreach (var item in Model)
        {
            <div class="col-md-3" title="@item.Name：@item.Des">
                <div class="thumbnail">
                    <img src="@(item.MinPic??item.MaxPic)" title="@item.Name" style="height: 200px; width: 100%; display: block;" />
                    <div class="caption">
                        <h4>@item.Name.FomartSubStr(10)</h4>
                        @*<p>@item.Des.FomartSubStr()</p>*@
                        <p>
                            <a href="/pictures/picview/@item.Id" target="_blank" class="btn btn-default">浏览</a>
                            <button type="button" class="btn btn-default" name="btnZan" data-id="@item.Id" data-type="1">点赞 <span id="num_@item.Id" class="badge">@item.ZanNum</span></button>
                            <span id="msg_@item.Id" style="color:red"></span>
                        </p>
                    </div>
                </div>
            </div>
        }
    }
</div>
<div class="row">
    <div class="col-md-12 text-center">
        <pager pager-option="ViewBag.PagerOption as MoPagerOption"></pager>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        lovepicture.picZanOrRead("btnZan");
    })
</script>