@using LovePicture.Model.Models
@model List<ToContent>
@{
    ViewData["Title"] = "留下难忘的一瞬间";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/banner1.svg" alt="精彩的生活" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    你可以上传图片，留下难忘的一瞬间，以此记录精彩的生活！
                    <a class="btn btn-default" href="/UserCenter/UpPhoto/3">
                        去 上传
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner2.svg" alt="家庭和睦照" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    留下与家人一起的合影，彰显家庭和睦，和大家一起分享快乐。
                    <a class="btn btn-default" href="/UserCenter/UpPhoto/6">
                        分享
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    旅游畅快，骑行风景，不经留下一张图，表达对生活的热爱！
                    <a class="btn btn-default" href="/UserCenter/UpPhoto/4">
                        留下足迹
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    各种烦心，各种琐事，各种奇葩，照一照抒发自己的愤慨之情...
                    <a class="btn btn-default" href="/UserCenter/UpPhoto/3">
                        照一照
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">向前</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">向后</span>
    </a>
</div>

<div style="padding-top:18px">
    <h4>》5天点赞排行榜 <span class="label label-default">@Model.Count</span></h4>
</div>
<hr />
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-3" title="@item.Name：@item.Des">
            <div class="thumbnail">
                <img src="@(item.MinPic??item.MaxPic)" title="@item.Name" style="height: 200px; width: 100%; display: block;" />
                <div class="caption">
                    <h4>@item.Name.FomartSubStr(10)</h4>
                    <p><a href="/pictures/picview/@item.Id" target="_blank" class="btn btn-default" role="button">浏 览</a></p>
                </div>
            </div>
        </div>
    }
</div>