@model LovePicture.Model.MoClass.MoUserInfo
<div class="col-md-2">
    <div class="text-center">
        <img class="img-thumbnail" src="@Model.HeadPhoto" style="width: 140px; height: 140px;" alt="@Model.NickName">
        <a href="/usercenter/index" alt="@Model.NickName">
            <h4>@Model.NickName</h4>
        </a>
        <a href="/usercenter/AccountSettings" class="btn btn-default">
            个人信息
        </a>
        <a href="/usercenter/upheadphoto" class="btn btn-default">
            换头像
        </a>
    </div>
    <hr />
    <div class="list-group">
        <a href="/usercenter/index" class="list-group-item @(Model.Status==1?"active":"")"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> 个人中心</a>
        <a href="/usercenter/accountsettings" class="list-group-item @(Model.Status==2?"active":"")"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> 账户设置</a>
        <a href="/usercenter/modules" class="list-group-item @(Model.Status==3?"active":"")"><span class="glyphicon glyphicon-film" aria-hidden="true"></span> 我的相册</a>
        <a href="/usercenter/anQuansettings" class="list-group-item @(Model.Status==4?"active":"")"><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> 安全设置</a>
    </div>
</div>
